* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.full-body {
  overflow-y: scroll;
}

.grid {
  display: grid;
  grid-template-rows: 1fr minmax(10rem, 20rem) 2fr 4fr 1fr;
  row-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
}

.relative {
  position: relative;
}

footer .links, .search .form-group .inputArea, .header--advanced, .header .navbar, .search .centered, .search, .header .navbar .buttons, .header .navbar .links {
  display: flex;
}

.search .centered, .search, .header .navbar .buttons, .header .navbar .links {
  justify-content: center;
  align-items: center;
}

.header .navbar {
  justify-content: flex-end;
  align-items: center;
}

footer .links, .search .form-group .inputArea, .header--advanced {
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.full-body {
  overflow-y: auto;
}

.header--advanced {
  max-height: 20vh;
}
.header--advanced .img {
  max-height: 50px;
}

.header {
  padding: 1rem;
}
.header .navbar {
  gap: 1rem;
}
.header .navbar .buttons, .header .navbar .links {
  gap: 2rem;
}
.header .navbar .links .navlink:hover {
  text-decoration: underline;
}
.header .navbar .buttons .btn {
  padding: 1.5rem;
  border: 0;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}
.header .navbar .buttons .btn:hover {
  background-color: lightgray;
  transition: all 0.5s;
}
.header .navbar .buttons .sign-btn {
  background-color: rgba(0, 0, 255, 0.5);
  padding: 1rem 3rem;
  border-radius: 5px;
  color: snow;
}
.header .navbar .buttons .sign-btn:hover {
  background-color: darkslateblue;
  transition: all 0.5s;
}

.logo {
  width: 100%;
  max-height: 30rem;
}
.logo .container {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
}
.logo .container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo .container p {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 20%;
  text-transform: uppercase;
  color: blue;
}

.search {
  width: 100%;
}
.search form {
  width: inherit;
}
.search .form-group {
  width: 50%;
  margin: 2rem auto;
}
.search .form-group .inputArea {
  padding: 1rem 2rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.search .form-group .inputArea textarea {
  padding: 0.5rem;
  width: 90%;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  resize: none;
  outline: none;
}
.search .form-group .inputArea .targetable i {
  cursor: pointer;
}
.search .form-group .inputArea i {
  padding: 0.25rem 1rem;
}
.search .form-group .inputArea:hover {
  box-shadow: 0 0 5px 1px gray;
}
.search .centered {
  gap: 0.5rem;
}
.search .centered input {
  padding: 0.75rem 2rem;
  border-radius: 5px;
  border: 0.5px solid transparent;
  cursor: pointer;
}
.search .centered input:hover {
  border: 0.5px solid black;
  transition: all 0.5s;
}

.languages {
  font-size: 1.2rem;
  text-align: center;
}
.languages a {
  color: blue;
  padding: 0 0.25rem;
}
.languages a:hover {
  text-decoration: underline;
}

footer {
  background-color: #DADCE0;
  opacity: 0.4;
  padding: 1rem;
}
footer .links .links__subsection a, footer .country {
  padding: 1rem 2rem;
}
footer .links {
  padding: 1rem 0;
}
footer .links .links__subsection a:hover {
  text-decoration: underline;
}

.advanced--title {
  width: 100%;
}
.advanced--title h1 {
  margin: 1rem 3rem;
  font-size: 2rem;
  font-weight: normal;
  color: red;
}

.advanced--search {
  width: 100%;
}
.advanced--search .advanced--divider {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.advanced--search form .form-group .btn {
  background-color: rgba(0, 0, 255, 0.5);
  padding: 1rem 3rem;
  border-radius: 5px;
  color: snow;
}
.advanced--search form {
  width: 95%;
  margin: 0 auto;
}
.advanced--search form .form--header h2,
.advanced--search form .form--footer h2,
.advanced--search form .form--section h2,
.advanced--search form .form--footer h2 {
  font-size: 1.8rem;
  font-weight: normal;
}
.advanced--search form a {
  color: blue;
}
.advanced--search form a:hover {
  text-decoration: underline;
}
.advanced--search form .form-group {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 2rem 2rem;
  align-items: center;
}
.advanced--search form .form-group p:first-child {
  font-size: 1.4rem;
}
.advanced--search form .form-group p:last-child {
  font-size: 1.2rem;
}
.advanced--search form .form-group i {
  font-size: 1.1rem;
  font-style: normal;
  position: relative;
  bottom: 5px;
}
.advanced--search form .form-group .input-grid-x3 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  text-align: center;
}
.advanced--search form .form-group .input-grid-x3 input {
  padding: 0.5rem;
}
.advanced--search form .form-group .full--input {
  width: 100%;
  padding: 0.5rem 0;
}
.advanced--search form .form-group select {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.advanced--search form .form-group .btn {
  width: 30%;
  border: 0;
  font-weight: bold;
  text-align: center;
  justify-self: end;
}
.advanced--search form .form-group .btn:hover {
  background-color: darkslateblue;
  transition: all 0.5s;
}
.advanced--search form .form--footer {
  margin: 2rem;
}
.advanced--search form .form--footer div {
  margin: 2rem 0;
  font-size: 1.5rem;
  text-align: start;
}

@media screen and (max-width: 1100px) {
  .logo .container p {
    right: 10%;
  }
  .advanced--search .form--header h2:last-child {
    display: none;
  }
  .advanced--search .form-group {
    text-align: center;
  }
  .advanced--search .form-group p:last-child {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  .grid {
    grid-template-rows: 1fr minmax(10rem, 20rem) 2fr 4fr 0.2 fr;
  }
  .search {
    flex-direction: column;
    justify-content: space-between;
  }
  .search textarea {
    width: 90%;
  }
  .search .inputArea {
    margin: 2rem auto;
  }
  .search .form-group {
    width: 80%;
    margin: 0 auto;
  }
  footer .links {
    flex-direction: column;
    align-items: center;
  }
  footer .links .links__subsection {
    padding: 1rem 0;
  }
  footer .links .links__subsection:first-child {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */